<h1 class="title">Flight Details Form</h1>
<app-validation-errors [errors]="flightForm().errors()" />

<form>

  <app-flight [flightForm]="flightForm" [aircraft]="flightForm.aircraft"></app-flight>

  <!-- Aircraft -->
  @let aircraftForm = flightForm.aircraft;
  <hr>
  <h4 class="subtitle is-4">Aircraft</h4>
  <!-- type -->
  <div class="field">
    <label class="label">Type</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': aircraftForm.type().errors().length > 0}"
        [field]="aircraftForm.type"
        type="number"
        placeholder="Aircraft Type"
      >
    </div>
    @if(aircraftForm.type().errors().length === 0) {
      <p class="help">Aircraft Type</p>
    } @else {
      <app-validation-errors [errors]="aircraftForm.type().errors()" />
    }
  </div>

  <!-- registration -->
  <div class="field">
    <label class="label">Registration</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': aircraftForm.registration().errors().length > 0}"
        [field]="aircraftForm.registration"
        type="number"
        placeholder="Aircraft Registration"
      >
    </div>
    @if(aircraftForm.registration().errors().length === 0) {
      <p class="help">Aircraft Registration</p>
    } @else {
      <app-validation-errors [errors]="aircraftForm.registration().errors()" />
    }
  </div>

  <!-- Prices -->
  @let pricesForm = flightForm.prices;
  <hr>
  <h4 class="subtitle is-4">Prices</h4>
  <app-validation-errors [errors]="pricesForm().errors()"/>

  <table class="table">
    <thead>
      <tr>
        <th>Flight Class</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(price of flightForm.prices; track price) {
        <tr>
          <td><input [field]="price.flightClass" /></td>
          <td><input [field]="price.amount" /></td>
          <td>
            <app-validation-errors [errors]="price().errorSummary()"/>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <button
    class="button"
    (click)="addPrice()"
    type="button">
    Add
  </button>


</form>

<hr>
<p>
  <a href="https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/">See https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/</a>
</p>


