<form>

  <div class="field">
    <label class="label">Id</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': flightForm.id().errors().length > 0}"
        [control]="flightForm.id"
        type="text"
        placeholder="Enter id"
      >
    </div>
    @if(flightForm.id().errors().length === 0) {
      <p class="help">The ID of the flight</p>
    } @else {
      <app-validation-errors [errors]="flightForm.id().errors()" />
    }
  </div>

  <div class="field">
    <label class="label">From</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': flightForm.from().errors().length > 0}"
        [control]="flightForm.from"
        type="text"
        placeholder="Enter airport"
      >
    </div>
    @if(flightForm.from().errors().length === 0) {
      <p class="help">Starting airport</p>
    } @else {
      <app-validation-errors [errors]="flightForm.from().errors()" />
      <p>{{flightForm.from().errors() |json}}</p>
    }
  </div>

  <div class="field">
    <label class="label">To</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': flightForm.to().errors().length > 0}"
        [control]="flightForm.to"
        type="text"
        placeholder="Enter airport"
      >
    </div>
    @if(flightForm.to().errors().length === 0) {
      <p class="help">Destination airport</p>
    } @else {
      <app-validation-errors [errors]="flightForm.to().errors()" />
      <p>{{flightForm.to().errors() |json}}</p>
    }
  </div>

</form>

<hr>
<p>
  <a href="https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/">See https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/</a>
</p>


