<h1 class="title">Flight Details Form</h1>
<app-validation-errors [errors]="flightForm().errors()" />

<form>

  <app-flight [flightForm]="flightForm"></app-flight>

  <!-- Prices -->
  @let pricesForm = flightForm.prices;
  <hr>
  <h4 class="subtitle is-4">Prices</h4>
  <app-validation-errors [errors]="pricesForm().errors()"/>

  <table class="table">
    <thead>
    <tr>
      <th>Flight Class</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for(price of flightForm.prices; track price) {
        <tr>
          <td><input [field]="price.flightClass" /></td>
          <td><input [field]="price.amount" /></td>
          <td>
            <app-validation-errors [errors]="price().errorSummary()"/>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <button
    class="button"
    (click)="addPrice()"
    type="button">
    Add
  </button>



  <app-aircraft [aircraftForm]="flightForm.aircraft"></app-aircraft>


</form>

<hr>
<p>
  <a href="https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/">See https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/</a>
</p>


