<form>

  <div class="field">
    <label class="label">Id</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': flightForm.id().errors().length > 0}"
        [field]="flightForm.id"
        type="text"
        placeholder="Enter id"
      >
    </div>
    <app-d09s03-validation-errors [errors]="flightForm.id().errors()" />
  </div>

  <div class="field">
    <label class="label">From</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': flightForm.from().errors().length > 0}"
        [field]="flightForm.from"
        type="text"
        placeholder="Enter airport"
      >
    </div>
    <app-d09s03-validation-errors [errors]="flightForm.from().errors()" />
  </div>

  <div class="field">
    <label class="label">To</label>
    <div class="control">
      <input
        class="input"
        [ngClass]="{'is-danger': flightForm.to().errors().length > 0}"
        [field]="flightForm.to"
        type="text"
        placeholder="Enter airport"
      >
    </div>
    <app-d09s03-validation-errors [errors]="flightForm.to().errors()" />
  </div>


</form>

<hr>
<p>
  <a href="https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/">See https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/</a>
</p>
<p>Covered chapters: <i>Showing Validation Errors</i></p>



