<!-- Flight -->
<hr>
<h4 class="subtitle is-4">Flight</h4>

<!-- Id -->
<div class="field">
  <label class="label">Id</label>
  <div class="control">
    <input
      class="input"
      [ngClass]="{'is-danger': flightForm().id().errors().length > 0}"
      [formField]="flightForm().id"
      type="number"
      placeholder="Enter id"
    >
  </div>
  <app-validation-errors
    [errors]="flightForm().id().errors()"
    [helpText]="'The ID of the flight'"
  ></app-validation-errors>
</div>

<!-- From -->
<div class="field">
  <label class="label">From</label>
  <div class="control">
    <input
      class="input"
      [ngClass]="{'is-danger': flightForm().from().errors().length > 0}"
      [formField]="flightForm().from"
      type="text"
      placeholder="Enter airport"
    >
  </div>
  <app-validation-errors
    [errors]="flightForm().from().errors()"
    [helpText]="'Starting airport'"
  ></app-validation-errors>
  @if (flightForm().from().pending()) {
    <p>Waiting for Async Validation Result.....</p>
  }
</div>

<!-- To -->
<div class="field">
  <label class="label">To</label>
  <div class="control">
    <input
      class="input"
      [ngClass]="{'is-danger': flightForm().to().errors().length > 0}"
      [formField]="flightForm().to"
      type="text"
      placeholder="Enter airport"
    >
  </div>
  <app-validation-errors
    [errors]="flightForm().to().errors()"
    [helpText]="'Destination airport'"
  ></app-validation-errors>
</div>

<!-- Delay -->
<div class="field">
  <label class="label">Delay</label>
  <div class="control">
    <input
      class="input"
      [ngClass]="{'is-danger': flightForm().delay().errors().length > 0}"
      [formField]="flightForm().delay"
      type="number"
      placeholder="Enter delay"
    >
  </div>
  <app-validation-errors
    [errors]="flightForm().delay().errors()"
    [helpText]="'Delay in minutes'"
  ></app-validation-errors>
</div>

<!-- Delayed -->
<div class="field">
  <label class="checkbox">Delayed
    <input
      type="checkbox"
      [formField]="flightForm().delayed"
    >
  </label>
</div>
