
<section class="section">
  <div class="container">
    <h1 class="title">
      Modern Angular
    </h1>
    <p class="subtitle">
      Angular Demos with modern features
    </p>
  </div>
</section>

<div class="tabs">
  <ul>
    <li (click)="onClick('select')" [ngClass]="{'is-active': selectedDemo() === 'select'}"><a>Select</a></li>
    <li (click)="onClick('name')" [ngClass]="{'is-active': selectedDemo() === 'name'}"><a>Name</a></li>
  </ul>
</div>

<main>
  @switch (selectedDemo()) {
    @case ("select") {
      <app-d01-select-parent></app-d01-select-parent>
    }
    @case ("name") {
      <app-d02-name-parent></app-d02-name-parent>
    }
  }
</main>


<router-outlet />
