
<section class="section">
  <div class="container">
    <h1 class="title">
      Modern Angular
    </h1>
    <p class="subtitle">
      Angular Demos with modern features
    </p>
  </div>
</section>

<div class="container">
<div class="tabs">
  <ul>
    <li (click)="selectDemo('d01-select')" [ngClass]="{'is-active': selection() === 'd01-select'}"><a>Select</a></li>
    <li (click)="selectDemo('d02-name')" [ngClass]="{'is-active': selection() === 'd02-name'}"><a>Name</a></li>
    <li (click)="selectDemo('d03-select')" [ngClass]="{'is-active': selection() === 'd03-select'}"><a>Select 2</a></li>
    <li (click)="selectDemo('d04-name')" [ngClass]="{'is-active': selection() === 'd04-name'}"><a>Name 2</a></li>
  </ul>

</div>
  @switch (selection()) {
    @case ('d01-select') {
      <app-d01-select-parent></app-d01-select-parent>
    }
    @case ('d02-name') {
      <app-d02-name-parent></app-d02-name-parent>
    }
    @case ('d03-select') {
      <app-d03-select-parent></app-d03-select-parent>
    }
    @case ('d04-name') {
      <app-d04-name-parent></app-d04-name-parent>
    }
  }
</div>

<main>
</main>


<router-outlet />
