<form>

  <!-- Id -->
  <div class="field">
    <label class="label">Id</label>
    <div class="control">
      <input
        [field]="flightForm.id"
        type="text"
        class="input"
        placeholder="Enter id"
      >
    </div>
    <p class="help">The ID of the flight</p>
    <pre>{{ flightForm.id().errors() | json }}</pre>
  </div>

  <!-- From -->
  <div class="field">
    <label class="label">From</label>
    <div class="control">
      <input
        [field]="flightForm.from"
        type="text"
        class="input"
        placeholder="Enter airport"
      >
    </div>
    <p class="help">Starting airport</p>
    <!-- Field level errors -->
    <pre>{{ flightForm.from().errors() | json }}</pre>
  </div>

  <!-- To -->
  <div class="field">
    <label class="label">To</label>
    <div class="control">
      <input
        [field]="flightForm.to"
        type="text"
        class="input"
        placeholder="Enter airport"
      >
    </div>
    <p class="help">Destination airport</p>
    <!-- Field level errors -->
    <pre>{{ flightForm.to().errors() | json }}</pre>
  </div>


</form>

<hr>
<p>
  <a href="https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/">See https://www.angulararchitects.io/blog/all-about-angulars-new-signal-forms/</a>
</p>


